<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>Amazon</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="title" href="index.html">Amazon</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <ul>
                    <li>Product1</li>
                    <li>Product2</li>
                    <li>Product3</li>
                    <li>Product4</li>
                </ul>
            </main>
            <footer class="row center">All right reserved</footer>
        </div>
    </body>
</html>